.stepProgress {
  padding-top: 80px;

  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 48px;
  }

  span {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    color: var(--grey-700);

    .text {
      display: inline-block;
      height: 24px;
      width: 24px;
      border: 1px solid var(--grey-700);
      border-radius: 50%;
      margin-right: 8px;
      text-align: center;   
      background-image: url(../../../icons/pg-complete.svg);
      color: transparent;
    }

    .progressLable:not(:first-child) {
      margin-right: 124px;
    }

  }

  div {
    .done .text {
      background-image: none;
      color: unset;
    }

    .done~span {
      color: var(--grey-300);

      span {
        color: inherit;
      }

      &>.text {
        background-image: none;
      }
    }

    &>span:not(:last-child)::before {
      content: "";
      width: 60px;
      height: 1px;
      background-color: var(--product-action-text);
      position: absolute;
      top: 8px;
      left: 128px;
    }

    .done~span::before {
      background-color: var(--font-color);
    }

  }

}