@import url(../base.scss);

.main {
  width: 1440px;
  padding: 0 165px;
  font-family: var(--main-font-family);
  display: flex;
  // box-sizing: border-box;

  .stepContainer {
    width: 540px;
    margin-right: 130px;
  }
}